<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Penless Paper</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <div id="leftAd" class="ad"></div>
  <div id="rightAd" class="ad"></div>
  <nav>
    <h1 class="logo">Penless Paper</h1>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/upload">Upload New Piece</a></div>
    <div class="navlink"><a href="/search">Search</a></div>
  </nav>
  <div class="main">
    <section id="profileInfo"></section>
    <section id="passwordChange"></section>
    <section id="piecePreviews"></section>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>