html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #e3dccd;
    font-family: Arimo, Arial, sans-serif;
    color: #676862;
}

.main {
    width: 70%;
    height: 75%;
    margin: auto;
    padding: 4em 1em;
    background-color: #F8F6F2;
}

/* --- Navigation --- */

nav {
    width: 70%;
    margin: auto;
    background-color: #adc2bd;
    padding: 0.5em 1em;
}

.logo {
    font-family: "Major Mono Display", Arial, sans-serif;
    font-size: 3.5em;
    color: #4a4b4d;
}

.navlink {
    padding: 12px;
    color: #4a4b4d;
    font-size: 1.5em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: #4a4b4d;
    text-decoration: none;
    padding: 5px;
    background-color: #adc2bd;
    transition: background-color 0.4s ease;
    transition: color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    transition: color 0.4s ease;
    color: white;
    background-color: #87AFAC;
}

/* --- Login Form --- */

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

/* --- Popup Message --- */

#popupMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#popupMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}